#cardImage :hover{
  cursor: pointer;
}

#creditCard {
  animation-duration: 1s;
  animation-name: slide;
}

@keyframes slide {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

#progressBar::-webkit-progress-value {
  transition: width 1s ease;
}